<meta charset="UTF-8">

<style type="text/css">
	.btn_active{
		background: #B0C4DE;
	}
	.mcy_body{
		width: 70%;
	}
	#system_home{
		margin-left: 100px;
		border-left: 1px solid #cdcdcd;
		padding-left: 20px;
	}
	.about{
		background: white;
		padding: 20px;
		margin-bottom: 40px;
		border-radius: 20px;
	}
	.about h2{
		border-left: 5px solid red;
		padding-left: 10px;
		font-size: 24px;
		margin-bottom: 20px;
	}
	.about p{
		padding-left: 30px;
	}
</style>
<div class="mcy_body">
	<div class="about">
		<h2>中国美食文化</h2>
		<p>在中国传统文化教育中</p>
		<p>阴阳五行哲学思想、道家理学观念，</p>
		<p>儒家伦理道德观念，还有文化艺术成就、饮食审美风尚、民族性格特征诸多因素的影响下，</p>
		<p>创造出彪炳史册的中国烹饪技艺，形成博大精深的中国饮食文化。</p>
	</div>
	<div class="about">
		<h2>八大菜系</h2>
		<p>早在商周时期中国的膳食文化已有雏形，以太公望最为代表，再到春秋战国的齐桓公时期，饮食文化中南北菜肴风味就表现出差异</p>
		<p>到唐宋时，南食、北食各自形成体系。到了南宋时期，南甜北咸的格局形成</p>
		<p>在清朝初年，川菜、鲁菜、淮扬菜、粤菜，成为当时最有影响的地方菜，被称作四大菜系</p>
		<p>到了清朝末年，浙江菜、闽菜、湘菜、徽菜四大新地方菜系分化形成，共同构成汉民族饮食的“八大菜系”</p>
	</div>
</div>
	