<meta charset="UTF-8">
<style type="text/css">
.bg{
	width: 100%;
	height: 100%;
	background: url(static/img/11.jpg) no-repeat;
	background-size: cover;
	position: fixed !important;
	z-index: -1;
}
#sy{
	width: 100%;
	height: 100%;
	text-align: center;
	color: #070000;
	letter-spacing:8px;
	padding-top: 16%;
}
#sy h2{
	margin-bottom: 20px;
}
</style>
<div id="sy">
	<h2>美食</h2>
	<p style="font-szie: 22px;">顾名思义就是美味的食物，贵的有山珍海味，便宜的有街边小吃。</p>
	<p style="font-szie: 22px;">其实美食是不分贵贱的，只要是自己喜欢的，都可以称之为美食。</p>
</div>
